.header_app {
    background-color: var(--darkBackgrounds1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    height: 20vh;
}

.img_logo {
    width: 185px;
    margin: 0 0;
    animation: appearFromUp 0.7s;
    
}

@media (min-width: 768px) {
    .img_logo{
        width: 20vw;
    }
}