.main_app{
    background-color: var(--lightBackgrounds1);
    width: 100vw;
    height: 100vh;
}

.ul_data{
    margin: 0 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-wrap: wrap;
}

.h2_ul_title{
    padding: 4vh 0 0 0;
    color: var(--darkLetters1);
    text-align: center;
    font-size: var(--fontSize1);
}

.li_individual_data{
    list-style: none;
    background: var(--darkBackgrounds1);
    color: var(--lightLetters1);
    width: 70vw;
    max-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    text-align: center;
    border-radius: 8px;
    font-weight: var(--fontWeight2);
    font-size: var(--fontSize1);
    margin: 0 0;
    animation: appearFromBottom 0.7s;
}

@media (min-width: 768px) {

    .main_app{
        background-color: var(--lightBackgrounds1);
        width: 100vw;
        height: 68vh;
        display: flex;
        justify-content: center;
    }

    .h2_ul_title{
        position: absolute;
        top: -81px;    
    }

    .li_individual_data{
        margin: 0 0 0 0;
        max-width: 20vw;

    }

    .ul_data{
        position: absolute;
        top: 41vh;
        height: 20%;
        width: 70vw;
        gap: 7vh;
    }

}

@media (max-width: 768px) {
    .ul_data{
        height: 97%;
    }
}