.main_app{
    background-color: var(--lightBackgrounds1);
    width: 100vw;
    height: 100vh;
}

.ul_data{
    margin: 0 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-wrap: wrap;
}

.h2_ul_title {
    padding: 4vh 0 0 0;
    color: var(--darkLetters1);
    text-align: center;
    margin: 0% 5%;
    font-size: 18pt;
}

.li_individual_data{
    list-style: none;
    background: var(--darkBackgrounds1);
    color: var(--lightLetters1);
    width: 70vw;
    max-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 2vw;
    text-align: center;
    border-radius: 8px;
    font-weight: var(--fontWeight2);
    font-size: 18pt;
    margin: 0 0;
    animation: appearFromBottom 0.7s;
}

@media (min-width: 768px) {

    .main_app {
        background-color: var(--lightBackgrounds1);
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        margin: 2% 0%;
    }
    

    .h2_ul_title{
        position: absolute;
        top: -81px;    
    }

    .li_individual_data {
        margin: 0 0 0 0;
        max-width: 20vw;
        font-size: 18pt;
        height: 45px;
        font-size: 15pt;
    }

    .ul_data{
        position: absolute;
        top: 41vh;
        height: 20%;
        gap: 7vh;
    }

}